/*フォント*/
.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-style: normal;
}

body{
  background-color: #333399;
  margin: 0;
  padding: 0;
  font-family: Russo One;
  height:100%;
}

@media screen and (max-width: 990px) {
  body{
    font-size: 1em;
  }
}

.footer{
  margin: 5% 0 0 0;
  font-size: 0.5em;
  text-align: center;
  color: white;
  height: auto;
  font-family: sans-serif;
}

@media screen and (max-width: 990px) {
  .footer{
    margin: 5% 0;
  }
}

h1{
  margin: 2% auto;
  font-size: 4em;
  letter-spacing: 0.3em;
}

@media screen and (max-width: 990px) {
  h1{
    font-size: 3em;
  }
}

/*改行位置*/
.sp {
display: none;
}

@media screen and (max-width: 990px) {
  .sp {
display: block;
  }
}

.header{
  width: 100%;
  margin: auto auto 5% auto;
  padding: 2% 0;
  color: white;
  text-align: center;
  background-color: #2b2b2b;
  font-weight: bold;
}

.container{
  margin: 0 5%;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;       /* はみ出たら折り返す */
  letter-spacing: 0.1em;
}

@media screen and (max-width: 990px) {
  .container{
      margin: 0 2%;
    padding: 1%;
  }
}

.sns{
  color: #00bfff;
}

@media screen and (max-width: 990px) {
  .sns{
    font-size: 1.5em;
  }
}

a{
  color: white;
  letter-spacing: 0.1em;
}

.container img{
  width: 150px;
  border-radius: 10px;
  border: 2px solid white;
}

@media screen and (max-width: 990px) {
.container img{
    width: 200px;
    margin: auto auto 5% auto;
  }
}

@media screen and (max-width: 500px) {
.container img{
    width: 100px;
    margin: auto auto 5% auto;
  }
}


.illust{
  margin: 3% 3%;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}

@media screen and (max-width: 990px) {
  .illust{
    margin: 3% 5%;
font-size: 1.3em;
  }
}

@media screen and (max-width: 500px) {
  .illust{
    margin: 3% 5%;
font-size: 0.8em;
  }
}

.illust:hover{
  transform: scale(1.05);
  transition:0.1s all;
}

.rough{
  width: 100%;
  padding: 5% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;       /* はみ出たら折り返す */
}

.rough img{
  width: 400px;
    margin: 0;
}

@media screen and (max-width: 990px) {
.rough img{
    width: 200px;
        margin: 0;
  }
}

@media screen and (max-width: 500px) {
.container img{
  width: 200px;
      margin: 0;
  }
}
