@media screen and (min-width: 500px) {
  h1{
    margin: 2%;
    font-size: 2em;
    letter-spacing: 0.3em;
  }

  .sp {
display: block;
  }

  .container{
    font-size: 0.7em;
  }

  img{
    width: 150px;
    margin: auto auto 5% auto;
  }

}










